@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts//Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: local('Gotham'), local('Gotham'),
    url('../fonts/Gotham-Bold.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Gotham-Bold.woff') format('woff'),
    /* Modern Browsers */ url('../fonts//Gotham-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

html {
  box-sizing: border-box;
}

::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 290px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;

  @media (min-width: 480px) {
    max-width: 440px;
  }

  @media (min-width: 768px) {
    max-width: 670px;
  }

  @media (min-width: 1024px) {
    max-width: 900px;
  }

  @media (min-width: 1600px) {
    max-width: 1200px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-image: url(../images/bg-crypto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* header */

.header {
  padding-top: 14px;
  margin-bottom: 106px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 193px;
  height: 35px;
  object-fit: contain;
  margin-right: auto;
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style: none;
}

.menu__link {
  text-decoration: none;
  padding: 9px 16px;
  font-size: 14px;
  transition: 0.2s ease-in-out;
  color: #000000;
  margin-right: 10px;
}

.menu__link:not(last-type) {
  margin-right: 15px;
}

.menu__link__active,
.menu__link:hover {
  color: #fff;
  border-radius: 5px;
  background-color: #331139;
}

/*burger*/
.burger {
  display: none;
  cursor: pointer;
}

.line {
  list-style: none;
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: #000;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1400px) {
  .menu__list {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .burger {
    display: block;
  }

  .menu__list {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: #ffffff;
    padding-top: 15px;
  }

  .menu__item {
    opacity: 0;
    margin-bottom: 25px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*banner-section*/
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-section {
  margin-bottom: 15px;
}

.banner-section__title {
  width: 541px;
  height: 96px;
  margin: 0;
  margin-bottom: 45px;
  font-family: 'Gotham Bold';
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.banner-section__text {
  width: 444px;
  height: 91px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #341139;
  margin: 0;
  margin-bottom: 55px;
}

/*banner-form*/

.banner-form {
  width: 444px;
  height: 455px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 40px 35px 0px 21px;
}

.banner-form__title {
  width: 388px;
  height: 21px;
  margin: 0;
  margin-bottom: 33px;
  font-family: 'Gotham Bold';
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
  text-align: center;
}

.banner-form__list {
  display: flex;
  margin-bottom: 33px;
}

.banner-form__item {
  list-style: none;
  justify-content: space-between;
}

.form__put {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #efefef;
  transition: all ease 0.3s;
  cursor: pointer;
}

.form__put-label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #a3a3a3;
}

.form__put-input {
  display: block;
  border: none;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: #212121;
  outline: none;
}

.form__put-select {
  appearance: none;
}

.form__get {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #efefef;
  transition: all ease 0.3s;
  cursor: pointer;
  margin-bottom: 15px;
}

.form__get-label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #a3a3a3;
}

.form__get-input {
  display: block;
  border: none;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: #212121;
  outline: none;
}

.form__get-select {
  appearance: none;
}

.banner-form__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 0;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  width: 126px;
  height: 42px;
  border-radius: 3px;
  border: solid 1px #efefef;
  margin-right: 10px;
}

.form__comission {
  display: inline-block;
  margin-bottom: 28px;
  font-size: 12px;
  color: #a3a3a3;
  letter-spacing: 0;
}

.comission-amount {
  display: inline-block;
  font-family: 'Gotham Bold';
  color: #212121;
}

.banner-form__btn:hover {
  border: solid 1px #a3a3a3;
}

.app-form__agree {
  position: relative;
  text-align: left;
  margin-bottom: 26px;
}

.app-form__agree input[type='checkbox'] {
  position: absolute;
  width: 17px;
  height: 18px;
  opacity: 0;
  cursor: pointer;
}

.app-form__agree label {
  cursor: pointer;
  position: relative;
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
}

.app-form__agree input[type='checkbox']:checked ~ .agree-label:before {
  background-color: #341139;
  border: 1px solid #341139;
}

.app-form__agree input[type='checkbox'] ~ .agree-label:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 18px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  left: 0;
  top: 2px;
}

.app-form__agree input[type='checkbox']:checked ~ .agree-label:after {
  content: '✓';
  font-family: fontawesome;
  position: absolute;
  font-size: 16px;
  color: #fff;
  left: 4.5px;
  top: 2px;
}

.app-form__button {
  display: flex;
  justify-content: flex-end;
}

.custom-select-currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-down {
  margin-left: 5px;
}

.arrow-down::before {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  transform: rotate(-45deg) translateY(-50%);
}

.banner-form__submit {
  outline: 0;
  border: 1px solid transparent;
  width: 240px;
  height: 42px;
  border-radius: 5px;
  background-color: #341139;
  font-family: 'Gotham Bold';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}
